<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <form action="/photo-up" method="post" enctype="multipart/form-data">
        <label for="photo-id">Загрузите ваше фото</label>
        <input type="file" name="photo" id="photo-id">
        <input type="submit" value="отправить">
    </form>
</body>
</html>