<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div id="reg-container">
        <form  action="/api/reg" method="post">
            <label id="f-name-id">Введите ваше имя</label>
            <input type="text" name="fname" id="f-name-id">

            <label id="s-name-id">Введите вашу фамилию</label>
            <input type="text" name="sname" id="s-name-id">

            <label for="user-name-id">Имя</label>
            <input type="text" name="name" id="user-name-id">

            <label id="email-id">Введите ваш e-mail</label>
            <input type="email" name="email" id="email-id">

            <label for="pass-id">Пароль</label>
            <input type="password" name="pass" id="pass-id">

            <input type="submit" name="sub" id="sub-id" value="Отправить">
        </form>
    </div>
</body>
</html>